/* There are the bascis styles */
:root {
  --text-color-white: #efe;
  --text-color-black: #101;
  --bg-body: #dedede;
  --bg-navigation: #010;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
body {
  color: var(--text-color-black);
  background-color: var(--bg-body);
}

/* ----- CLASSES ----- */
/* The first word defines how to display the element */
/* The second word defines the align-itmes or the align content value */
/* The third word defines the justify-content value */
/* The fourth word defines the direction of element */

.flex_center_spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}