/* There are the bascis styles */
:root {
  --text-color-white: #eeffee;
  --text-color-black: #110011;
  --bg-body: #e1e1e1;
  --bg-navigation: #c1c1c1;
  --bg-footer: #dedede;
  --box-shadow: 1px 1px 10px #222;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  box-sizing: border-box;
}
body {
  color: var(--text-color-black);
  background-color: var(--bg-body);
}

/* ----- CLASSES ----- */
/* The first word defines how to display the element */
/* The second word defines the align-itmes value */
/* The third word defines the justify-content value */
/* The fourth word defines the direction of element */

.flex_center_spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_center_center {
  display: flex;
  align-items: center;
  justify-content: center;
}