/* All variables are in 'styles.css' */

.navigation {
  color: var(--text-color-white);
  width: 100%;
  padding: 20px;
  background-color: var(--bg-navigation);
}
.navigation_leftbar {
  margin: 10px;
}
