/* All variables are in 'styles.css' */
.container {
  width: 100%;
  min-height: 100vh;
}

/* NAVIGATION */

.navigation {
  color: var(--text-color-black);
  width: 100%;
  padding: 20px;
  background-color: var(--bg-navigation);
  box-shadow: var(--box-shadow);
}
.navigation_leftbar {
  margin: 10px;
}

.navigation_rightbar span{
  font-size: 25px;
}

.navigation_buttons {
  padding: 10px;
  border-radius: 30px;
  opacity: 0.8;
  cursor: pointer;
}
.navigation_buttons:hover {
  opacity: 1;
  transition: .5s;
  background-color: var(--text-color-black);
  color: var(--bg-navigation)
}


/* FOOTER */

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--bg-footer);
}
.footer ul li {
  list-style-type: none;
}
.footer ul li a {
  font-size: 14px;
  margin: 2px;
}

