<div class="container">
  <nav class="navigation flex_center_spaceBetween">
    <div class="navigation_leftbar">
      <a>BlogBlog</a>
    </div>
    <div class="navigation_centerbar">
  
    </div>
    <div class="navigation_rightbar">
      <button class="navigation_buttons" id="login">Login</button>
      <span> | </span>
      <button class="navigation_buttons" id="signup">Sign up</button>
    </div>
  </nav>
  
  
  <footer class="footer flex_center_center">
    <div class="footer_elements">
  
    </div>
    <div class="footer_elements">
  
    </div>
    <div class="footer_elements">
  
    </div>
    <div class="footer_elements">
  
    </div>
  </footer>
  
</div>